<div class="flex justify-center items-center h-screen">
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-4">
      Créer une nouvelle liste
    </h1>

    <input [(ngModel)]="titre" class="form-control appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-3" type="text" placeholder="Entrez le nom de la liste...">

    <div class="flex justify-end mt-3">
      <button class="btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-l focus:outline-none focus:shadow-outline mr-2" routerLink="/">Annuler</button>
      <button class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r focus:outline-none focus:shadow-outline" (click)="createNewList()">Valider</button>

    </div>
  </div>
</div>
